<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Admin List</h2>

            <a class="btn btn-primary mb-3 mt-3" th:href="@{/create-admin}">Add
                Admin</a>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Admin Name</th>
                    <th>E-mail</th>
                    <!--                    <th>Password</th>-->
                    <th>Date Created</th>
                    <th>Modified Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="admin : ${admins}">
                    <a th:if="${admin.enabled == true}">
                        <td th:text="${admin.adminName}"></td>
                        <td th:text="${admin.adminEmail}"></td>
                        <!--                    <td th:text="${#strings.repeat('•', admin.password.length())}" >th:text="${admin.password}"</td>-->
                        <td th:text="${#dates.format(admin.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#dates.format(admin.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="d-flex justify-content-between">
                            <form th:action="@{/delete-admin/{id}(id=${admin.adminId})}" th:method="DELETE"
                                  th:object="${admin}">
                                <button class="btn btn-danger" th:text="Delete" type="submit"></button>
                            </form>
                            <a class="btn btn-primary ml-2"
                               th:href="@{/update-admin/{id}(id=${admin.adminId})}">Edit</a>
                        </td>
                    </a>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="text-center mt-3">
    <a class="btn btn-secondary" th:href="@{/restaurants}">Back</a>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

</body>

</html>
