<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create restaurant</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 style="text-align: center">Create Restaurant</h2>


    <form method="post" th:action="@{/restaurant/save}" th:object="${request}">


        <div class="form-group">
            <label for="restaurantName">Restaurant Name:</label>
            <input class="form-control" id="restaurantName" name="restaurantName" th:field="*{restaurantName}"
                   th:required="required" type="text"/>
            <small class="text-danger" th:errors="*{restaurantName}"
                   th:if="${#fields.hasErrors('restaurantName')}"></small>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input class="form-control" id="address" name="address" th:field="*{address}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></small>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}"></small>
        </div>

        <div class="form-group">
            <label for="menuUrl">Menu URL:</label>
            <input class="form-control" id="menuUrl" name="menuUrl" th:field="*{menuUrl}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{menuUrl}" th:if="${#fields.hasErrors('menuUrl')}"></small>
        </div>

        <div class="form-group">
            <label for="deliveryTime">Delivery Time:</label>
            <input class="form-control" id="deliveryTime" name="deliveryTime" th:field="*{deliveryTime}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{deliveryTime}" th:if="${#fields.hasErrors('deliveryTime')}"></small>
        </div>

        <div class="form-group">
            <label for="additionalCharges">Additional Charges:</label>
            <input class="form-control" id="additionalCharges" name="additionalCharges" th:field="*{additionalCharges}"
                   th:required="required" type="text"/>
            <small class="text-danger" th:errors="*{additionalCharges}"
                   th:if="${#fields.hasErrors('additionalCharges')}"></small>
        </div>

        <button class="btn btn-primary" type="submit">Add Restaurant</button>
    </form>
    <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/restaurants}">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
