<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 style="text-align: center">Create Admin</h2>

    <form method="post" th:action="@{/admin/save}" th:object="${request}">

        <div class="form-group">
            <label for="adminName">Admin Name:</label>
            <input class="form-control" id="adminName" name="adminName" th:field="*{adminName}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{adminName}" th:if="${#fields.hasErrors('adminName')}"></small>
        </div>

        <div class="form-group">
            <label for="adminEmail">Admin Email:</label>
            <input class="form-control" id="adminEmail" name="adminEmail" th:field="*{adminEmail}" th:required="required"
                   type="text"/>
            <small class="text-danger" th:errors="*{adminEmail}" th:if="${#fields.hasErrors('adminEmail')}"></small>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" name="password" th:field="*{password}" th:required="required"
                   type="password"/>
            <small class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></small>
        </div>

        <button class="btn btn-primary" type="submit">Add Admin</button>
    </form>

    <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/admins}">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
