<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center">Reset Your Password</h4>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/reset-password}">
                        <input name="token" th:value="${param.token}" type="hidden"/>
                        <div class="form-group">
                            <label for="password">New Password:</label>
                            <input class="form-control" id="password" name="newPassword" required type="password"/>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input class="form-control" id="confirmPassword" name="confirmPassword" required
                                   type="password"/>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                    </form>
                    <p th:if="${error}" th:text="${error}"></p>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
