<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Update Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-4">
    <h2>Update Restaurant</h2>

<!--    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
<!--        <p th:each="error : ${#fields.errors('*')}" th:text="${error}"></p>-->
<!--    </div>-->

    <form th:object="${restaurant}" th:action="@{/update-restaurant/{id}(id=${id})}" method="post">

        <div class="form-group">
            <input type="hidden" id="restaurantId" th:field="*{restaurantId}" class="form-control"/>
            <small th:if="${#fields.hasErrors('restaurantId')}" th:errors="*{restaurantId}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="restaurantName">Restaurant Name:</label>
            <input type="text" id="restaurantName" th:field="*{restaurantName}" class="form-control"/>
            <small th:if="${#fields.hasErrors('restaurantName')}" th:errors="*{restaurantName}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" th:field="*{address}" class="form-control"/>
            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"/>
            <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="menuUrl">Menu URL:</label>
            <input type="text" id="menuUrl" th:field="*{menuUrl}" class="form-control"/>
            <small th:if="${#fields.hasErrors('menuUrl')}" th:errors="*{menuUrl}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="deliveryTime">Delivery Time:</label>
            <input type="text" name="deliveryTime" id="deliveryTime" th:field="*{deliveryTime}" class="form-control"/>
            <small th:if="${#fields.hasErrors('deliveryTime')}" th:errors="*{deliveryTime}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="additionalCharges">Additional Charges:</label>
            <input type="text" name="additionalCharges" id="additionalCharges" th:field="*{additionalCharges}" class="form-control"/>
            <small th:if="${#fields.hasErrors('additionalCharges')}" th:errors="*{additionalCharges}" class="text-danger"></small>
        </div>

        <button type="submit" class="btn btn-primary">Update Restaurant</button>
    </form>
    <div class="text-center mt-3">
        <a href="#" onclick="history.back()" class="btn btn-secondary">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
