<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Restaurant</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">
    <h2>Update Restaurant</h2>

    <form th:action="@{/update-restaurant/{id}(id=${id})}" th:method="PUT" th:object="${restaurant}">

        <div class="form-group">
            <input class="form-control" id="restaurantId" th:field="*{restaurantId}" type="hidden"/>
            <small class="text-danger" th:errors="*{restaurantId}" th:if="${#fields.hasErrors('restaurantId')}"></small>
        </div>

        <div class="form-group">
            <label for="restaurantName">Restaurant Name:</label>
            <input class="form-control" id="restaurantName" th:field="*{restaurantName}" type="text"/>
            <small class="text-danger" th:errors="*{restaurantName}"
                   th:if="${#fields.hasErrors('restaurantName')}"></small>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input class="form-control" id="address" th:field="*{address}" type="text"/>
            <small class="text-danger" th:errors="*{address}" th:if="${#fields.hasErrors('address')}"></small>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input class="form-control" id="phoneNumber" th:field="*{phoneNumber}" type="text"/>
            <small class="text-danger" th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}"></small>
        </div>

        <div class="form-group">
            <label for="menuUrl">Menu URL:</label>
            <input class="form-control" id="menuUrl" th:field="*{menuUrl}" type="text"/>
            <small class="text-danger" th:errors="*{menuUrl}" th:if="${#fields.hasErrors('menuUrl')}"></small>
        </div>

        <div class="form-group">
            <label for="deliveryTime">Delivery Time:</label>
            <input class="form-control" id="deliveryTime" name="deliveryTime" th:field="*{deliveryTime}" type="text"/>
            <small class="text-danger" th:errors="*{deliveryTime}" th:if="${#fields.hasErrors('deliveryTime')}"></small>
        </div>

        <div class="form-group">
            <label for="additionalCharges">Additional Charges:</label>
            <input class="form-control" id="additionalCharges" name="additionalCharges" th:field="*{additionalCharges}"
                   type="text"/>
            <small class="text-danger" th:errors="*{additionalCharges}"
                   th:if="${#fields.hasErrors('additionalCharges')}"></small>
        </div>

        <button class="btn btn-primary" type="submit">Update Restaurant</button>
    </form>
    <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/restaurants}">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
