<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">
    <h2>Update Admin</h2>

    <form th:action="@{/update-admin/{id}(id=${id})}" th:method="PUT" th:object="${admin}">

        <div class="form-group">
            <input class="form-control" id="adminId" th:field="*{adminId}" type="hidden"/>
            <small class="text-danger" th:errors="*{adminId}" th:if="${#fields.hasErrors('adminId')}"></small>
        </div>

        <div class="form-group">
            <label for="adminName">Admin Name:</label>
            <input class="form-control" id="adminName" th:field="*{adminName}" type="text"/>
            <small class="text-danger" th:errors="*{adminName}" th:if="${#fields.hasErrors('adminName')}"></small>
        </div>

        <div class="form-group">
            <label for="adminEmail">Admin Email:</label>
            <input class="form-control" id="adminEmail" th:field="*{adminEmail}" type="text"/>
            <small class="text-danger" th:errors="*{adminEmail}" th:if="${#fields.hasErrors('adminEmail')}"></small>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <small class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></small>
        </div>

        <button class="btn btn-primary" type="submit">Update Admin</button>
    </form>

    <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/admins}">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
