<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Group Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Create Group Order</h2>

    <form method="post" th:action="@{'/restaurant/'+${restaurantId}+'/group-order/create'}" th:object="${groupOrder}">

        <div class="form-group">
            <h4 th:text="${restaurants.restaurantName}"></h4>
        </div>

        <div class="form-group">
            <label for="creatorName">Creator Name: </label>
            <input class="form-control" id="creatorName" name="creatorName" th:field="*{creatorName}" th:required="required"
                   type="text">
            <small class="text-danger" th:errors="*{creatorName}" th:if="${#fields.hasErrors('creatorName')}"></small>
        </div>

        <div class="form-group">
            <label for="groupOrderTimeout">Timeout (minutes):</label>
            <input class="form-control" id="groupOrderTimeout" name="groupOrderTimeout" th:field="*{groupOrderTimeout}"
                   th:required="required" type="text">
            <small class="form-text text-muted">Timeout must be 10 minutes or greater.</small>
            <small class="text-danger" th:errors="*{getGroupOrderTimeout}"
                   th:if="${#fields.hasErrors('groupOrderTimeout')}"></small>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <div class="text-center mt-3">
        <a class="btn btn-secondary" href="http://localhost:8080/restaurants" onclick="back()">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
