<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Create Group Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-light">

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Create Group Order</h2>

    <form th:action="@{'/restaurant/'+${restaurantId}+'/group-order/create'}" th:object="${groupOrder}" method="post">

        <div class="form-group">
            <h4 th:text="${restaurants.restaurantName}"></h4>
        </div>

        <div class="form-group">
            <label for="creatorName">Creator Name: </label>
            <input type="text"  name="creatorName" class="form-control" id="creatorName" th:field="*{creatorName}" th:required="required">
            <small th:if="${#fields.hasErrors('creatorName')}" th:errors="*{creatorName}" class="text-danger"></small>
        </div>

        <div class="form-group">
            <label for="groupOrderTimeout">Timeout (minutes):</label>
            <input type="text" name="groupOrderTimeout" class="form-control" id="groupOrderTimeout" th:field="*{groupOrderTimeout}" th:required="required">
            <small class="form-text text-muted">Timeout must be 10 minutes or greater.</small>
            <small th:if="${#fields.hasErrors('groupOrderTimeout')}" th:errors="*{getGroupOrderTimeout}" class="text-danger"></small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="text-center mt-3">
        <a href="#" onclick="history.back()" class="btn btn-secondary">Back</a>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
