<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Group Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="bg-light">

<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">Group Order</h2>

    <div class="card shadow mb-4">
        <div class="card-body">
            <h3 class="mb-4 d-flex justify-content-between align-items-center">
                Order Information
            </h3>

            <dl class="row">
                <dt class="col-sm-3">Order URL:</dt>
                <dd class="col-sm-9"><a target="_blank"
                                        th:href="*{'localhost:8080/restaurants/group-order/' + groupOrder.groupOrderId}"
                                        th:text="${'localhost:8080/restaurants/group-order/' + groupOrder.groupOrderId}"></a>
                </dd>

                <dt class="col-sm-3">Order Timeout:</dt>
                <dd class="col-sm-9" th:text="${groupOrder.getGroupOrderTimeout}"></dd>

                <dt class="col-sm-3">Order Creator:</dt>
                <dd class="col-sm-9" th:text="${groupOrder.creatorName}"></dd>

                <dt class="col-sm-3">Restaurant Name:</dt>
                <dd class="col-sm-9" th:text="${groupOrder.restaurant.restaurantName}"></dd>

                <dt class="col-sm-3">Restaurant Phone Number:</dt>
                <dd class="col-sm-9" th:text="${groupOrder.restaurant.phoneNumber}"></dd>

                <dt class="col-sm-3">Restaurant Menu URL:</dt>
                <dd class="col-sm-9"><a target="_blank" th:href="*{groupOrder.getRestaurant().getMenuUrl()}"
                                        th:text="*{groupOrder.getRestaurant().getMenuUrl()}"></a></dd>
            </dl>
            <hr class="my-4">

            <div th:if="${timeout > 0}" class="col">
                <h3 class="mb-4 d-flex justify-content-between align-items-center">
                    Add items to order
                </h3>

                <form th:action="@{'/item/save/' + ${groupOrderId}}" method="post" class="row">
                    <div class="col-md-4">
                        <label for="employeeName">Employee Name:</label>
                        <input type="text" id="employeeName" name="employeeName" class="form-control" required>
                    </div>

                    <div class="col-md-4">
                        <label for="itemName">Item Name:</label>
                        <input type="text" id="itemName" name="itemName" class="form-control" required>
                    </div>

                    <div class="col-md-4">
                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" class="form-control" required>
                    </div>

                    <div class="mx-auto text-center mt-3">
                        <button type="submit" class="btn btn-success mt-3">Add to Order</button>
                    </div>
                </form>
            </div>
            <p th:unless="${timeout > 0}" class="alert alert-danger">Time Expired!</p>

            <hr class="my-4">

            <h3 class="mb-4 d-flex justify-content-between align-items-center">
                All orders
            </h3>
            <input type="hidden" th:value="*{groupOrder.groupOrderId}" id="id" class="id">
            <div id="itemsTable" th:fragment="reloadTable">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Item Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.employeeName}"></td>
                        <td th:text="${item.itemName}"></td>
                        <td th:text="${item.price}"></td>
                    </tr>
                    </tbody>

                </table>

                <p th:if="${timeout > 0}" th:text="'Time remaining: ' + ${formatted}" th:value="${formatted}"></p>
                <p th:unless="${timeout > 0}" th:text="'Time remaining: ' + ${formatted}" >Time expired</p>


                <p th:text="'Delivery charges: ' + ${groupOrder.restaurant.deliveryInfo.additionalCharges}"></p>
            <p class="font-weight-bold" th:text="'Total: ' + ${groupOrder.totalPrice}"></p>
            </div>
            </div>
    </div>
</div>
<a th:href="@{/restaurants}" class="btn btn-secondary">Back</a>

<script>
    function reload() {
        let id = $("#id").val();
        $.ajax({
            url: '/reload/' + id,
            type: 'GET',
            success: function (data) {
                $("#itemsTable").html(data)
                console.log(data);
            }
        });
    }

    setInterval(reload, 2000);

</script>
</body>

</html>
