<!DOCTYPE html>

<head>
    <title>Restaurant Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<div class="container mt-4">
    <h2 class="text-center">Welcome to the Restaurant Application</h2>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Choose an option</h5>

                    <div class="text-center mt-4">
                        <a href="/login" class="btn btn-primary btn-lg mr-4">Login as Admin</a>
                        <a href="/restaurants" class="btn btn-secondary btn-lg">Continue as Employee</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

