<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Restaurant List Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Restaurant List</h2>

            <a sec:authorize="isAuthenticated()" th:href="@{/create}" class="btn btn-primary mb-3 mt-3">Add Restaurant</a>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            Restaurant Name
                            <div class="ml-2 sorting-btn-group d-flex">
                                <a th:href="@{/restaurants(pageNum=${pageNum + 1}, pageSize=${pageSize}, sortBy='restaurantName', sortOrder='asc')}">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">
                                        <i class="fas fa-sort-alpha-up"></i> Asc
                                    </button>
                                </a>
                                <a th:href="@{/restaurants(pageNum=${pageNum + 1}, pageSize=${pageSize}, sortBy='restaurantName', sortOrder='desc')}">
                                    <button type="button" class="btn btn-outline-secondary btn-sm ml-1">
                                        <i class="fas fa-sort-alpha-down"></i> Desc
                                    </button>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Address</th>
                    <th>Menu URL</th>
                    <th>
                        <div class="d-flex align-items-center">
                            Date Created
                            <div class="ml-2 sorting-btn-group d-flex">
                                <a th:href="@{/restaurants(pageNum=${pageNum + 1}, pageSize=${pageSize}, sortBy='createdDate', sortOrder='asc')}">
                                    <button type="button" class="btn btn-outline-secondary btn-sm">
                                        <i class="fas fa-sort-alpha-up"></i> Asc
                                    </button>
                                </a>
                                <a th:href="@{/restaurants(pageNum=${pageNum + 1}, pageSize=${pageSize}, sortBy='createdDate', sortOrder='desc')}">
                                    <button type="button" class="btn btn-outline-secondary btn-sm ml-1">
                                        <i class="fas fa-sort-alpha-down"></i> Desc
                                    </button>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="restaurant : ${restaurants}">
                    <td th:text="${restaurant.restaurantName}"></td>
                    <td th:text="${restaurant.address}"></td>
                    <td th:text="${restaurant.menuUrl}"></td>
                    <td th:text="${#dates.format(restaurant.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a sec:authorize="isAuthenticated()" th:href="@{/restaurant/{id}(id=${restaurant.restaurantId})}" class="btn btn-info btn-sm">View Details</a>
                        <a th:href="@{/create-group-order/{id}(id=${restaurant.restaurantId})}" class="btn btn-success btn-sm mx-2">Create Group Order</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

</body>

</html>
