<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurant List Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Restaurant List</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4 mt-3">
                        <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/create}">Add
                            Restaurant</a>
                        <a class="btn btn-primary" sec:authorize="isAuthenticated()" th:href="@{/admins}">Admins</a>
                    </div>
                    <div class="col-md-6 mb-4 mt-4">
                        <form method="get" th:action="@{/restaurants}">
                            <div class="form-row justify-content-end">
                                <div class="col-auto">
                                    <select class="form-control" id="pageSize" name="pageSize" th:selected="${pageSize}"
                                            th:value="pageSize">
                                        <option disabled selected value="">Page size</option>
                                        <option th:selected="${pageSize == 2}" value="2">2</option>
                                        <option th:selected="${pageSize == 3}" value="3">3</option>
                                        <option th:selected="${pageSize == 4}" value="4">4</option>
                                        <option th:selected="${pageSize == 5}" value="5">5</option>
                                    </select>
                                </div>
                                <div class="col-auto align-baseline">
                                    <button class="btn btn-primary" type="submit">Apply</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            Restaurant Name
                            <div class="ml-2 sorting-btn-group d-flex">

                                <a th:href="@{/restaurants(pageNum=${pageNum}, pageSize=${pageSize}, sortBy='restaurantName', sortOrder='asc')}">
                                    <button class="btn btn-outline-secondary btn-sm" type="button">
                                        <i class="fas fa-sort-alpha-up"></i> Asc
                                    </button>
                                </a>
                                <a th:href="@{/restaurants(pageNum=${pageNum}, pageSize=${pageSize}, sortBy='restaurantName', sortOrder='desc')}">
                                    <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
                                        <i class="fas fa-sort-alpha-down"></i> Desc
                                    </button>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Address</th>
                    <th>Menu URL</th>
                    <th>
                        <div class="d-flex align-items-center">
                            Date Created
                            <div class="ml-2 sorting-btn-group d-flex">
                                <a th:href="@{/restaurants(pageNum=${pageNum}, pageSize=${pageSize}, sortBy='createdDate', sortOrder='asc')}">
                                    <button class="btn btn-outline-secondary btn-sm" type="button">
                                        <i class="fas fa-sort-alpha-up"></i> Asc
                                    </button>
                                </a>
                                <a th:href="@{/restaurants(pageNum=${pageNum}, pageSize=${pageSize}, sortBy='createdDate', sortOrder='desc')}">
                                    <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
                                        <i class="fas fa-sort-alpha-down"></i> Desc
                                    </button>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="restaurant : ${restaurants}">
                    <td th:text="${restaurant.restaurantName}"></td>
                    <td th:text="${restaurant.address}"></td>
                    <td th:text="${restaurant.menuUrl}"></td>
                    <td th:text="${#dates.format(restaurant.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a
                                class="btn btn-info btn-sm"
                                th:href="@{/restaurant/{id}(id=${restaurant.restaurantId})}">View
                            Details</a>
                        <a class="btn btn-success btn-sm mx-2"
                           th:href="@{/create-group-order/{id}(id=${restaurant.restaurantId})}">Create Group Order</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container mt-4" th:if="${restaurants.totalPages > 1}">

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li th:class="${restaurants.number == pageNum - 1} ? 'page-item active' : 'page-item'"
                        th:each="pageNum : ${#numbers.sequence(1, restaurants.totalPages)}">
                        <a class="page-link"
                           th:href="@{/restaurants(pageNum=${pageNum - 1}, pageSize=${pageSize}, sortBy=${sortBy}, sortOrder=${sortOrder})}"
                           th:text="${pageNum}"></a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>
<div class="mt-3 text-center" sec:authorize="!isAuthenticated()">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <a class="btn btn-secondary"
           th:href="@{/login}">Login</a>
    </div>
</div>
<div class="mt-3 text-center" sec:authorize="isAuthenticated()">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-secondary" type="submit">
                Logout
            </button>
        </form>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>

</body>

</html>
